
<body>
        <!-- main content--->
        <div id="layoutSidenav_content">
            <main>
                <h1>Danh sách các sẩn phẩm </h1>
                <table id="item-table" class="hover cell-border order-column data-table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Sản phẩm</th>
                            <th>Hãng sản xuất</th>
                            <th>Ngày thêm</th>
                            <th>Giá sản phẩm</th>
                            <th>Số lượng</th>
                            <th>Ẩn</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each products}}
                        <tr>
                            <td>{{product_id}}</td>
                            <td>{{product_name}}</td>
                            <td>{{brand_name}}</td>
                            <td>{{created_date}}</td>
                            <td>{{price}}</td>
                            <td>{{product_stock}}</td>
                            <td>{{hidden}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
                <div class="d-flex justify-content-center">
                    <a href="#" class="btn btn-outline-dark">Thêm sản phẩm</a>
                </div>
            </main>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.13.1/b-2.3.3/datatables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="/js/items.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.3.2/js/buttons.html5.min.js"></script>
</body>